{{#bs-navbar type="inverse" position="fixed-top"}}
  <div class="navbar-header">
    {{#bs-navbar-toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/bs-navbar-toggle}}
    <a class="navbar-brand" href="#">{{siteInfo.item.subTitle}}</a>
  </div>
  {{#bs-navbar-content}}
    {{#bs-navbar-nav}}

      {{#bs-nav-item}}{{#link-to "index"}}Dropdown{{/link-to}}{{/bs-nav-item}}
      {{#bs-nav-item}}{{#link-to "index"}}Forms{{/link-to}}{{/bs-nav-item}}

      {{#bs-dropdown tagName="li"}}
        {{#bs-dropdown-toggle}}
          {{t "language-select.switch"}}
          <span class="caret"></span>
        {{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          {{#each locales as |loc|}}
            <li>
              <a {{action 'setLocale' loc.id}}>{{loc.text}}</a>
            </li>
          {{/each}}
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}

    {{/bs-navbar-nav}}
  {{/bs-navbar-content}}
{{/bs-navbar}}
